@define-color bar-bg rgba(0, 0, 0, 0);
@define-color main-color #cdd6f4;
@define-color main-bg #11111b;
@define-color tool-bg #1e1e2e;
@define-color tool-color #cdd6f4;
@define-color tool-border #11111b;
@define-color wb-color #cdd6f4;
@define-color wb-act-bg #a6adc8;
@define-color wb-act-color #313244;
@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-color #313244;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 12px;
}

#cpu,
#memory,
#temperature,
#battery,
#clock,
#workspaces,
#window,
#taskbar,
#network,
#bluetooth,
#wireplumber,
#mpris,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-power,
#custom-wbar,
#custom-lr,
#custom-rr,
#tray {
  color: @main-color;
  background: @main-bg;
  opacity: 1;
  margin: 2px 0px;
  padding: 0px 4px;
}

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @tool-bg;
  color: @tool-color;
  border-radius: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: @tool-border;
}

#workspaces button {
  margin: 2px;
  padding: 0px 6px;
  box-shadow: none;
  text-shadow: none;
  border-radius: 8px;
  color: @wb-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px 4px;
  border-radius: 8px;
  margin: 2px;
  color: @wb-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces,
#taskbar {
  padding: 0px;
}

#custom-rr {
  border-radius: 0px 24px 24px 0px;
  margin-right: 4px;
  padding-right: 2px;
}

#custom-lr {
  border-radius: 24px 0px 0px 24px;
  margin-left: 4px;
  padding-left: 2px;
}
